{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended", // overwrites rules that are invalid for TS
    "prettier/@typescript-eslint", // disables styling rules incompatible with prettier
    "prettier/react" // disables styling rules incompatible with prettier
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "arrow-body-style": "warn",
    "no-console": "error",
    "no-underscore-dangle": ["error"],
    "consistent-return": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": ["error", {
         "ignore": ["@testing-library/react"]
    }],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react/jsx-sort-props": ["error", {
      "callbacksLast": true,
      "shorthandFirst": true,
      "ignoreCase": true
    }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": ["return", "break", "continue"] },
      { "blankLine": "always", "prev": ["if", "class", "for", "function", "switch", "throw", "while", "with", "block"], "next": "*" },
      { "blankLine": "always", "prev": "*", "next": ["if", "class", "for", "function", "switch", "throw", "while", "with", "block"] },
      { "blankLine": "always", "prev": "expression", "next": ["const", "let"] },
      { "blankLine": "never", "prev": ["case", "default"], "next": ["case", "default"] }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [ ".tsx" ] }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true }
    ]
  }
}
