TSHP protocol version : 1
regulator id : 0

listener socket address : 127.0.0.1
listener socket port : 42031
listener socket timeout : 1  # For unblocking
max connections : 10

client timeout : 300
recv msg max size : 1024

text encoding : UTF-8

secure : true
public key path : 
private key path : 
