TSHP protocol version : 1
regulator id : 0

listener socket address : 127.0.0.1
listener socket port : 42031
listener socket timeout : 1  # For unblocking
max connections : 10

client timeout : 5
recv msg max size : 1024

text encoding : UTF-8

secure : true
private key path : test_only_key.private
server key paths: Kacper_client_key.public
