.wrapper {
  max-width: 524px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  max-width: 500px;
}

.submitButton {
  margin-top: 32px;
}

.uploadFormItem {
  /*display: flex;*/
  /*align-items: center;*/
}

.publicKeyValidIcon {
  margin-left: 8px;
  font-size: 20px;
  color: #47a319;
}

.switchWrapper {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.switchText {
  margin-left: 8px;
}

.pageHeader {
  margin-bottom: 16px;
}
